// Base Neutral Palette 
$color-white: #F5F5F5;
$color-silver: #BABEC4;
$color-metal: #2c2d2f;
$color-graphite: #111214;

// Accent Colors
$color-amber: #d48d2a;

// Text Colors
$color-text-dark: #141414;
$color-text-light: #8f8f8f;

// UI Utility
$color-border: #AEB3BA;
$color-panel: #DDE1E6;
